extends layout

block content
  div.grid-x.grid-padding-x.login-box
    div.large-12.medium-12.small-12.text-center.cell
      h1 LOGIN
    div.large-12.medium-12.small-12.text-center.cell
      input(type='text').rounded
      input(type='password').rounded
      button.button.rounded(type='submit') ENTRAR
